.about {
  padding: 7rem 5rem;
  font-size: 2rem;
}

.about h4 {
  color: #71b950;
  text-transform: uppercase;
  font-size: 2rem;
}

.about h2,
.about-2 h2 {
  font-size: 3rem;
  margin-top: 1rem;
}

.about p,
.about-2 p {
  margin-top: 3rem;
  font-size: 1.6rem;
}

.about-2 {
  background-color: #efefef;
  padding: 7rem 5rem;
}

.about-accord {
  padding: 7rem 5rem;
}

.accord-head {
  font-size: 1.8rem;
  font-weight: bold;
}

.accord-text {
  font-size: 1.6rem;
}
