.terms {
  font-size: 1.6rem;
  padding: 2rem 0;
}

.terms h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.terms ol li {
  margin-bottom: 1rem;
}

.terms ol li span {
  font-weight: bold;
  font-size: 1.8rem;
}

.terms ul li {
  list-style-type: square;
}
