.header-top {
  background-color: var(--text-primary);
  color: var(--primary);
  padding: 1rem 0;
  width: 100%;
}

.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  gap: 1.2rem;
  font-size: 1.2rem;
}

.header-info a,
.header-info span {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}

.header-info i,
.header-social-icons i {
  color: var(--heading-text-color);
  font-size: 1.8rem;
}

.header-social-icons i:hover {
  color: var(--text-secondary);
}

.header-info p {
  /* padding-top: 1rem; */
}

.header-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  /* margin-left: 5rem; */
  /* border: 2px solid yellow; */
}

@keyframes horizontalMotion {
  0% {
  }
  100% {
  }
}

@media screen and (max-width: 786px) {
  .header-top {
    padding: 0;
  }
}
