.home-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0.9;
}

.home-form form {
  width: 50%;
  font-size: 1.5rem;
}

.home-form .cancel {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  font-weight: bolder;
}
