.footer-bottom {
  background-color: var(--text-primary);
  color: #fff;
  font-size: 1.6rem;
  align-items: center;
  padding: 1.3rem 2rem;
}

.footer-bottom-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer-bottom a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer-social-icons i {
  font-size: 1.8rem;
}

@media screen and (max-width: 995px) {
  .footer-social-icons {
    display: none;
  }
}
